{{/*
  layouts/shortcodes/avatar.html

  Renders GitHub avatar images from their identifiers

  Usage:
    {{< avatar id="5384907" alt="Tyler Sutterley" >}}

  Optional params:
    size  - pixel size requested from GitHub (default 200; GitHub scales/
            crops server-side, keeps the transferred file size down)
    class - CSS class on the <img> (default "person-photo")
*/}}
{{ $id := .Get "id" }}
{{ $alt := .Get "alt" | default "" }}
{{ $size := .Get "size" | default "200" }}
{{ $class := .Get "class" | default "person-photo" }}
<img
  src="https://avatars.githubusercontent.com/u/{{ $id }}?s={{ $size }}"
  alt="{{ $alt }}"
  class="{{ $class }}"
/>
